In [6]:
#1 1. Convert a string to uppercase using a method.
str="python"
print(str.upper())

PYTHON

In [5]:
#1 2. Convert a string to lowercase using a method.
print("PYTHON".lower())

python

In [8]:
#1 3. Remove spaces from both ends of a string.
print("  python  ".strip())

python

In [11]:
# 1 4. Count how many times a word appears in a string.
st="code good learn good"
print(st.count("good"))

2

In [12]:
# 1 5. Replace one word with another in a string.
t="eat good live good"
print(t.replace("good","food"))

eat food live food

In [22]:
# 1 6. Check if a string contains only alphabets.
s="men has two legs 1- 2"
sp="men has two legs 1"
sp1="menhastwolegs1"
print(s.isalpha())
print(sp.isalnum()) #as this string contains space it is alphanum + spaces
print(sp1.isalnum()) #should give true

False
False
True

In [20]:
# 1 7. Check if a string contains only digits.
sd="34"
print(sd.isdigit())

True

In [26]:
# 1 8. Split a string into words.  
spp="every one has brain"
print(spp.split())

['every', 'one', 'has', 'brain']

In [36]:
# 1 9. Join a list of words into a string.
j=('every', 'one', 'has', 'brain')
print(" ".join(j))  #at join we cannot take "j.join" becaous we have to pass the attribute value inside the bracket
# pt=" ".join(j)
# print(pt)

every one has brain

In [41]:
# 1 10. Find the position of a word in a string. 
str="man has brain"
print(str.rindex("has"))
print(str.split().index("has")+1)  #+ 1 for human value count

4
2

In [43]:
# 1 11. Check whether a string starts with a given word.
se="Man has bike"
print(se.startswith("Man"))
print(se.startswith("Mn"))

False

In [50]:
#EXTRA
# 1 11. Check whether a string starts with a given word.  #print "Yes" or "no" for the result
se="Man has bike"  #you can check by taking "Mn", "pen" concludes if its checking only starting alphabet or whole word
# p=se.startswith("Man")
if se.startswith("Man"):
    print("Yes")
else:
    print("No")

Yes

In [44]:
# 1 12. Check whether a string ends with a given word.
se="sam karlo"
print(se.endswith("karlo"))

True

In [51]:
# 1 13. Convert the first letter of a string to uppercase.
str="megha vasudev"
print(str.capitalize())

Megha vasudev

In [52]:
# 1 14. Convert a string into title case.
str="title case"
print(str.title())

Title Case

In [61]:
# 1 15. Count total characters in a string.
str="total char"
print(len(str))

10

In [64]:
# 1 16. Remove all spaces from a string.
print(str.replace(" ",""))

totalchar

In [70]:
# 1 17. Swap uppercase letters to lowercase and vice versa. 
p="Python sWap up letters TO LOWER vice vers"
print(p.swapcase())
print(p.isupper())

pYTHON SwAP UP LETTERS to lower VICE VERS
False

In [71]:
# 1 18. Check if a string is in uppercase.
pc="PYTHON IS"
print(pc.isupper())

True

In [72]:
# 1 19. Check if a string is in lowercase.
pc="python is"
pt="Pyhton is"
print(pc.islower())
print(pt.islower())

True
False

In [ ]:
# 1 20. Check if a string is alphanumeric.
pa="wer3"
pa1="t"
s="34"
print(pa.isnumeric())
print(pa.isalpha())
print(pa1.isalnum()) #there is no numeric value still why it is showing "True"
print(s.isalnum()) #there is no numeric value still why it is showing "True"

False
False
True

False
False
True
True

In [80]:
# 1 21. Split a string using a comma.
ma="ravet is near to pimpri"
print(ma.split())

['ravet', 'is', 'near', 'to', 'pimpri']

In [81]:
# 1 22. Remove leading spaces from a string.
# lstrip()	Removes whitespace only from the start.
# strip()	Removes whitespace from both start and end.
# re.sub()	Uses patterns (regex) for precise leading space removal.
# dedent()	Removes common leading whitespace from every line in a block.

space="  ear and nose  "
print(space.strip())

ear and nose

In [90]:
# 1 23. Remove trailing spaces from a string. a space character at the end of a file or folder name
import textwrap
space="im here to " \
"help you,\nas a master"
print(space)
print(textwrap.dedent(space))

im here to help you,
as a master
im here to help you,
as a master

In [98]:
# 1 24. Center a string with * symbol.
st="parvati"
print(st.center(len(st)+2,"*"))

*parvati*

In [ ]:
# 1 25. Count number of vowels in a string using methods.
st="AReIFDSU"
vo=("a","e","i","o","u","A","E","I","O","U")
print(st.count(for s in st in vo))

TypeError: must be str, not tuple

In [100]:
# 1 26. Check if a word exists in a string.
r="str is this"
if "is" in r:  #you can direct write a string here in "quote"
    print("Yes")

Yes

In [ ]:
# 1 27. Convert a string into a list of characters. #done before

In [105]:
# 1 28. Repeat a string three times.
st="sam"
print(3*(st+" "))
print(3*(st+"\n"))

sam sam sam
sam
sam
sam

In [111]:
# 1 29. Check whether a string is empty.
dt=" "
if not dt:   #to check the value in string use not
    print("string is empty")
else:
    print("Not null")

Not null

In [119]:
# 1 30. Reverse a string using methods.
s="namendra hr"
print(s[::-1])  #as [start:end:step] start=end point if the step is "-ve"  and end=start

rh ardneman

In [ ]:
# 1 31. Add an element to a list.
l=["w",'r',6]
print(l.append('3'))
print(l)

None
['w', 'r', 6, '3']

In [134]:
# 1 32. Remove the last element from a list.
r=l.pop()
print(l)

['w', 'r', 6]

In [135]:
# 1 33. Remove a specific element from a list.
s=l.remove('r')
print(l)

['w', 6]

In [ ]:
# 1 34. Insert an element at index 2 in a list.
i=l.insert(2,"Radha")
print(i)   ###Why we don't call "i" as we are assigning new value in it as string

['w', 6, 'Radha']

In [142]:
# 1 35. Sort a list in ascending order.
l=[3,5,2,7,1,8,40]
# s=l.sort()
print(l.sort(),l)

None [1, 2, 3, 5, 7, 8, 40]

In [150]:
# 1 36. Sort a list in descending order.
d=l.sort()
print(l[::-1])

[40, 8, 7, 5, 3, 2, 1]

In [152]:
# 1 37. Reverse a list.  ###WHY IT is showing none to reverse
l=[2,4,6]
print(l[::-1])
print(l.reverse())

[6, 4, 2]
None

In [153]:
# 1 38. Copy a list.  ###Does copy gives two list 
l=[2,'r',4,6]
c=l.copy()
print(l)

[2, 'r', 4, 6]

In [158]:
# 1 39. Count how many times an element appears in a list.
r=[2, 'r', 4, 6,'r',"p","r"]
print(r.count('r'))

3

In [160]:
# 1 40. Find the index of an element in a list.
r=[2, 'r', 4, 6,'r',"p","r"]
print(r.index('p',0,len(r)))

5

In [163]:
# 1 41. Clear all elements from a list.
r=[2, 'r', 4, 6,'r',"p","r"]
c=r.clear()
print(r)

[]

In [164]:
# 1 42. Merge two lists.
l1=['r',"p","r"]
r=[2, 'r', 4, 6]
print(l1+r)

['r', 'p', 'r', 2, 'r', 4, 6]

In [ ]:
# 1 43. Remove an element using index.
r=[2, 'r', 4, 6]
t=r.pop(1)
print(r)

ValueError: list.remove(x): x not in list

In [172]:
# 1 44. Print length of a list.
r=[2, 'r', 4, 6]
print(len(r))

4

In [175]:
# 1 45. Check if an element exists in a list.
r=[2, 'r', 4, 6]
if 'r' in r:
    print("yes")
else:
    print("No")

yes

In [176]:
# 1 46. Remove duplicate elements from a list.
r=[2, 'r', 4, 6,'r',"r",3,'y',2]
d=list(set(r))
print(d)

[2, 3, 4, 'y', 6, 'r']

In [181]:
# 1 47. Add multiple elements to a list.
d=[3,'e',5]
d.extend([3,'r',"t"])
print(d)

[3, 'e', 5, 3, 'r', 't']

In [183]:
# 1 48. Print the last element of a list.
print(d[-1])

t

In [184]:
# 1 49. Print the first element of a list.
print(d[0])

3

In [193]:
# 1 50. Sort a list without changing the original list.
p=[2,4,35,6,7,]
p.sort()
print(p)

[2, 4, 6, 7, 35]

In [197]:
# 1 51. Remove all occurrences of an element from a list.
m=[2, 4, 6, 7, 35,4,6,4]
m.remove(4)
print(m)

TypeError: list.clear() takes no arguments (1 given)

In [ ]:
# 1 52. Convert a string into a list. ##Done in st

In [198]:
# 1 53. Find maximum element in a list.
m=[2, 4, 6, 7, 35,4,6,4]
print(max(m))

35

In [199]:
# 1 54. Find minimum element in a list.
print(min(m))

2

In [200]:
# 1 55. Find sum of list elements.
print(sum(m))

68

In [207]:
# 1 56. Print even numbers from a list.
m=[2, 4, 6, 7, 35,4,6,4]
e=[i for i in m if i%2==0]
print(e)

[2, 4, 6, 4, 6, 4]

In [208]:
# 1 57. Print odd numbers from a list.
m=[2, 4, 6, 7, 35,4,6,4]
e=[i for i in m if i%2!=0]
print(e)

[7, 35]

In [213]:
m=[2, 4, 6, 7, 35,4,6,4]
print(m.count(4))
print(len(m))

3
8

In [214]:
# 1 59. Replace an element in a list.
m[2]="Sangu"
print(m)

[2, 4, 'Sangu', 7, 35, 4, 6, 4]

In [216]:
# 1 60. Check if a list is empty.  ###keep in mind
m=[2, 4, 6, 7, 35,4,6,4]
if not m:
    print("list is empty")
else:
    print("List is not empty")

List is not empty

In [218]:
# 1 61. Print all keys of a dictionary.
di={"Name":"Ana","Age":28}
print(di.keys())

dict_keys(['Name', 'Age'])

In [219]:
# 1 62. Print all values of a dictionary.
di={"Name":"Ana","Age":28}
print(di.values())

dict_values(['Ana', 28])

In [220]:
# 1 63. Print all key-value pairs of a dictionary.
print(di)

{'Name': 'Ana', 'Age': 28}

In [226]:
# 1 64. Get value of a key from dictionary.
value=di["Name"]
print(value)

Ana

In [227]:
# 1 65. Remove a key from a dictionary.
di={'Name': 'Ana', 'Age': 28}
del di["Name"]
print(di)

{'Age': 28}

In [228]:
# 1 66. Clear a dictionary.
cl=di.clear()
print(di)

{}

In [229]:
# 1 67. Copy a dictionary.
e={"Name":"Anu","Weight":56}
c=e.copy()
print(c)

{'Name': 'Anu', 'Weight': 56}

In [232]:
# 1 68. Update a dictionary with new values.
e={"Name":"Anu","Weight":56}
e.update({"Name":"Sadhna"})  # we can update by using update method
e["Weight"]=64               # we can update by keys by giving a value
print(e)

{'Name': 'Sadhna', 'Weight': 64}

In [233]:
# 1 69. Count number of key-value pairs in dictionary.
u={'Name': 'Sadhna', 'Weight': 64}
print(u.__len__())

2

In [ ]:
# 1 70. Check if a key exists in dictionary.
u={'Name': 'Sadhna', 'Weight': 64}
if not u :
    print("Not")
else:
    print("Yes")

Yes

In [237]:
# 1 71. Add a new key-value pair to dictionary.
u={'Name': 'Sadhna', 'Weight': 64}
u.update({"Age":42,"Gender":"F"})
print(u)

{'Name': 'Sadhna', 'Weight': 64, 'Age': 42, 'Gender': 'F'}

In [ ]:
# 1 72. Merge two dictionaries.
u={'Name': 'Sadhna', 'Weight': 64}
v={"Class":"A","Married":"Yes"}
print(u | v)    #To merge two dict use "|"

{'Name': 'Sadhna', 'Weight': 64, 'Class': 'A', 'Married': 'Yes'}

In [247]:
# 1 73. Remove the last inserted item from dictionary.
u={'Name': 'Sadhna', 'Weight': 64}
p=u.popitem()
print(p)

('Weight', 64)

In [ ]:
# 1 74. Create a dictionary from a list of keys.
keys=["Na","Ag","Bgrp"]
value=["Suni",35,"B"]
di=dict(zip(keys,value))
print(di)

TypeError: 'dict' object is not callable

In [260]:
# 1 75. Set default value for a dictionary key.
key=["Name","Age","Bgroup"]
dict2=dict.fromkeys(key,1)
print(dict2)

{'Name': 1, 'Age': 1, 'Bgroup': 1}

In [267]:
# 1 76. Print length of dictionary.
p={'Name': 1, 'Age': 1, 'Bgroup': 1}
print(p.__len__())

3

In [268]:
# 1 77. Convert dictionary keys to a list.
print(keys)

['Na', 'Ag', 'Bgrp']

In [269]:
# 1 78. Convert dictionary values to a list.
print(value)

['Suni', 35, 'B']

In [ ]:
# 1 79. Delete all items in dictionary. ###use delete not clear
print(p.clear())

None

In [ ]:
# 1 80. Safely get a value using a dictionary method.

In [275]:
# 1 81. Add an element to a set.
se={3,2,4,5}
print(se.add("e"))
print(se)

None
{2, 3, 4, 5, 'e'}

In [276]:
# 1 82. Remove an element from a set.
se.remove(5)
print(se)

{2, 3, 4, 'e'}

In [283]:
# 1 83. Remove an element from a set without error.
se={2, 3, 4, 'e'}
print(se.discard(4))
print(se)

None
{2, 3, 'e'}

In [277]:
# 1 84. Clear a set.
se.clear()
print(se)

set()

In [278]:
# 1 85. Find union of two sets.
set1={1,3,5,2}
set2={5,8,7,9,6}
print(set1 | set2)

{1, 2, 3, 5, 6, 7, 8, 9}

In [ ]:
# 1 86. Find intersection of two sets.
set1={1,3,5,2}
set2={5,8,7,9,6}
print(set1 or set2)
print(set.intersection(set1,set2))

{1, 2, 3, 5}
{5}

In [ ]:
# 1 87. Find difference of two sets.
a={8,6,9,7}
b={2,3,1,4,7}
w=a-b
x=a.difference(b)
# print(x)
print(w)

{8, 9, 6, 7}

In [295]:
# 1 88. Check if a set is subset of another set.
a={3,5,8,9,5,0}
s={3,5,5}
if s.issubset(a):
    print("Yes")
else:
    print("No")

Yes

In [296]:
# 1 89. Copy a set.
a={3,5,8,9,5,0}
b=a.copy()
print(b)

{0, 3, 5, 8, 9}

In [303]:
# 1 90. Remove and print a random element from a set.
a={3,5,8,9,5,0}
m=a.pop()
print(m)

0

In [297]:
# 1 91. Find maximum of three numbers.
a={3,5,8,9,5,0}
print(max(a))

9

In [304]:
# 1 92. Find minimum element in a list.
print(min(a))

3

In [ ]:
# 1 93. Find sum of numbers in a list.
a={3,5,8,5,9,0}  #in sum it does not take duplicate values
print(sum(a))

25

In [308]:
# 1 94. Count total elements using len().
print(len(a))

5

In [310]:
# 1 95. Sort a list using sorted().
e=[3,2,5,4,6]
print(sorted(e))

[2, 3, 4, 5, 6]

In [ ]:
# 1 96. Convert user input into integer.
i=int(input("enter number: "))
print(i)

In [ ]:
# 1 97. Print type of a variable.
v="we"
print(type(v))

<class 'str'>

In [ ]:
# 1 98. Generate numbers from 1 to 10 using range().
for i in range(1,10):
    print(i)

In [ ]:
# 1 99. Pair two lists using zip().
l1=[2,3,5,4]
l2=[4,6,'t',7]
d=list(zip(l1,l2))
print(d)

TypeError: type 'zip' is not subscriptable

In [ ]:
# 1 100. Print index and value using enumerate().
l=[1,3,5,4,6]
for i, val in enumerate(l):
    print(i,val)